
.principal-light{
    display: grid;
    place-items: center;
}

.trafficTop{
    height: 80px;
    width: 15px;
    background: black;
    margin: 0;
}

.traffic{
    height: 400px;
    width: 150px;
    margin-top: 0;
    border-radius: 5px;
    display: grid;
}

.traffic div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    margin: auto;
    
}
.red{
    background: red;
    
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}

.glow{
    box-shadow: 0 0 20px rgb(221, 255, 68);
}